<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.iff.pooa20172.Trabalho_P2_2018_oficina">

    <application
        android:name="br.iff.pooa20172.Trabalho_P2_2018_oficina.Model.BDConfig"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Oficina Realm"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="br.iff.pooa20172.Trabalho_P2_2018_oficina.View.ActivityPrincipal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.iff.pooa20172.Trabalho_P2_2018_oficina.View.PecaActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="br.iff.pooa20172.Trabalho_P2_2018_oficina.View.PecaDetalheActivity" />
        <activity
            android:name="br.iff.pooa20172.Trabalho_P2_2018_oficina.View.ServicoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="br.iff.pooa20172.Trabalho_P2_2018_oficina.View.ServicoDetalheActivity" />
        <activity
            android:name="br.iff.pooa20172.Trabalho_P2_2018_oficina.View.ProprietarioActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="br.iff.pooa20172.Trabalho_P2_2018_oficina.View.ProprietarioDetalheActivity"></activity>
    </application>

</manifest>